* {
    margin: 0;
    padding: 0;
}

:root {
    --font: "Montserrat", sans-serif;
    --szin: #A7697E;
    --szurke: #626262;
}

body {
    background: white; 
    font-family: var(--font);

    & a {
        text-decoration: none;
        color: black;
    }
}

.solidGomb,
.atlatszoGomb {
    color: var(--szin);
    padding: 1vw 2vw;
    border-radius: 0.5vw;
    font-size: 1.125vw;
    font-family: var(--font);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.solidGomb {
    background: var(--szin);
    border: 3px solid var(--szin);
    color: white;
    transition: background-color 0.3s ease;

    &:hover {
        background: transparent;
        color: var(--szin);
    }
}

.atlatszoGomb {
    background: transparent;
    border: 3px solid var(--szin);

    &:hover {
        background-color: var(--szin);
        color: white;
    }
}

.mobilNav {
    display: none;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;

    & img {
        width: 18vw;
    }

    & .mobil {
        display: none;
    }

    & .felsoCsik {
        width: 100%;
        height: 3.5vh;
        background-color: #A7697E;

        display: flex;
        align-items: center;
        justify-content: flex-end;

        & a {
            margin-right: .5vw;
            color: white;
            font-weight: 500;
        }
    }

    & .desktopNav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 25vh;

        margin-top: 3vh;
        gap: 2vh;

        & ul {
            list-style: none;
            display: flex;
            gap: 2vw;
            font-size: 1.125vw;
            font-weight: 600;
            align-items: center;
            justify-content: center;

            & .fa-solid {
                font-size: 1.2vw;
                color: var(--szurke);
            }

            & a {
                color: var(--szurke);
                transition: color 0.3s ease;

                &:hover {
                    color: var(--szin);
                }
            }

            & .tudnivalokA {
                position: relative;
                color: var(--szin);
            }

            /* kis kor alatta */
            & .tudnivalokA::before {
                border-radius: 100%;
                position: absolute;
                background: var(--szin);
                height: 0.5vw;
                width: 0.5vw;
                content: '';
                top: 120%;
                left: 45%;
            }

            /* dropdown */
            & li:nth-child(2), li:nth-child(3) {
                position: relative;
            }

            & li:nth-child(2):hover div, li:nth-child(3):hover div {
                display: flex;
            }

            & li:nth-child(2) div, li:nth-child(3) div {
                display: none;
                position: absolute;
                width: 20vw;

                background-color: var(--szin);
                border: 2px solid whitesmoke;
                border-radius: 0.25vw;

                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;

                & .csik {
                    width: 95%;
                    height: 1px;
                    border-radius: 2px;
                    background: white;
                }

                & a {
                    font-size: 1vw;
                    color: white;
                    align-self: flex-start;
                    margin-left: .3vw;
                    margin-top: 1vh;
                    margin: 1vh;
                }
            }
        }
    }

}

main {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;

    .expandPicture {
        display: none;
        justify-content: center;
        align-items: center;

        position: fixed;

        width: 100%;
        height: 100svh;
        background: rgba(0, 0, 0, 0.5);

        z-index: 99999;

        & i {
            position: absolute;
            top: 1vw;
            left: 1vw;
            font-size: 2rem;
            color: white;
            cursor: pointer;
        }

        & img {
            max-width: 85%;
            max-height: 95svh;
            border-radius: .5rem;
            border: 2px solid white;
            object-fit: contain;
        }
    }

    .cim {
        & h1 {
            font-size: 3vw;
            margin-top: 8vh;
            margin-bottom: 5vh;
            font-weight: 600;
            text-align: center;
            color: var(--szin);
        }

        & img {
            position: relative;
            width: 50vw;
            object-fit: contain;
            left: 50%;
            transform: translate(-50%);
            border-radius: 0.5vw;
            margin-bottom: 2.5vh;
        }
    }

    .szoveg {
        width: 70%;
        margin: 0 auto;
        margin-top: 25vh;
        margin-bottom: 10vh;
        font-size: 1.2vw;
        display: flex;
        flex-direction: column;
        gap: 3vh;
        
        & .csik {
            width: 80%;
            height: 2px;
            border-radius: 2px;
            background: var(--szin);
            margin: 0 auto;
        }

        & h1 {
            margin-top: 3vh;
            color: var(--szin);
            align-self: center;
            text-align: center;
        }

        & p {
            font-size: 1.2vw;
        }

        & h3 {
            text-align: center;
        }

        & ul {
            list-style-position: inside;
            display: flex;
            flex-direction: column;
            gap: 1vh;
            font-size: 1.2vw;

            & a {
                text-decoration: underline;
                font-weight: 600;
            }
        }

        & img {
            cursor: pointer;
            width: 70%;
            align-self: center;
        }
    }
    
    .footer {
        width: 100%;
        background-color: var(--szin);
        color: white;

        & .wrapper {
            margin: 1vw;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            & img {
                width: 20vw;
            }

            & .elerhetosegek, .ajanlott, .social {
                display: flex;
                flex-direction: column;
                gap: 1vh;
                align-self: flex-start;
                padding-top: 2vh;

                & a {
                    color: white;
                }

                & .csik {
                    width: 100%;
                    height: 1px;
                    border-radius: 2px;
                    background: white;
                }

                & h4 {
                    font-size: 1vw;
                    font-weight: 500;
                    margin-bottom: 1vh;
                }

                & i {
                    font-size: 2vw;
                }

                & .logok {
                    display: flex;
                    gap: 1vw;
                }

                & .tel {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5vh;

                    & i {
                        font-size: 1vw;
                    }
                }
            }
        }

        & .szoveg {
            text-align: center;
            padding: 0.25vw;
            font-size: 1vw;
            margin-top: 2.5vh;
            margin-bottom: 2vh;

            & a {
                color: white;
                font-weight: 500;
            }
        }
    }
}

.backgroundWrapper {
    position: relative;
}

.backgroundWrapper::before {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), url(../kepek/background.jpg) no-repeat center center;
    mix-blend-mode: luminosity;

    top: 0;
    left: 0;
}

@media (max-width: 768px) {
    .solidGomb, .atlatszoGomb {
        font-size: 3.5vw;
        border-radius: 2vw;
        padding: 2.25vw 4vw;
    }

    .mobilNav {
        display: flex;
        
        & .sidebarBack {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            z-index: 999;
            display: none;
            align-items: center;
            justify-content: left;
            
            & i {
                padding-left: 5%;
                font-size: 10vw;
                color: white;
                cursor: pointer;
            }
        }

        & .sidebar {
            position: fixed;
            top: 0;
            right: 0;
            width: 70vw;
            height: 100%;
            background: white;
            z-index: 1000;
            display: flex;
            flex-direction: column;
            gap: 5vh;
            padding: 5vw;
            transform: translateX(200%);
            transition: transform 0.5s ease;
            border-top-left-radius: 5vw;

            & nav {
                display: flex;
                flex-direction: column;
                gap: 5vh;
                height: 90%;

                & ul {
                    height: inherit;
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    gap: 5vh;
                    color: black;
                    font-weight: 600;
                    justify-content: space-evenly;
                    font-size: 4vw;

                    & .csik {
                        margin-top: 0.5vh;
                        width: 80%;
                        height: 1px;
                        border-radius: 2px;
                        background: var(--szurke);
                    }

                    .tudnivalokDiv, .tetovalasokDiv {
                        display: none;
                        flex-direction: column;
                        gap: 2vh;
                        margin-top: 2vh;
                        padding: 2vh 2vw;
                        border: 2px solid var(--szin);
                        border-radius: 2vw;
                    }
                    
                }
            
            }
        }
    }

    main {
        .cim {
            & h1 {
                font-size: 10vw;
            }
            
            & img {
                width: 90vw;
                border-radius: 2vw;
            }
        }

        .szoveg {
            width: 80%;
            font-size: 3.5vw;

            & h1 {
                font-size: 6vw;
            }

            & p {
                font-size: 3.5vw;
            }

            & ul {
                font-size: 3.5vw;
            }
        }
    }

    header {
        justify-content: space-between;

        & .felsoCsik {
            & a {
                font-size: 3.5vw;
                margin-right: 2vw;
            }
        }

        & .mobil {
            display: block;
            position: absolute;
            top: 3px;
            left: 3px;
            color: white;
            font-size: 6.25vw;
            z-index: 1;
        }

        & img {
            width: 60%;
            margin-top: 3vh;
        }

        & .desktopNav {
            display: none;
        }

        &::before {
            display: none;
        }
    }

    main {
        & .szoveg {
            margin-top: 0;
        }

        .footer {
            & .wrapper {
                flex-direction: column;
                gap: 2.5vh;
                align-items: center;
                margin-bottom: 2.5vh;

                & .logo {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    margin-top: 2.5vh;

                    & img {
                        width: 85%;
                    }
                }

                & .elerhetosegek, .ajanlott, .social {
                    align-self: center;
                    padding-top: 5vh;
                    text-align: center;

                    & h4 {
                        font-size: 3.5vw;
                        margin-bottom: 2.5vh;
                    }

                    & i {
                        font-size: 7vw;
                    }

                    & .logok {
                        gap: 5vw;
                        align-self: center;
                    }

                    & .tel {
                        & i {
                            font-size: 3vw;
                        }
                    }
                }
            }

            & .szoveg {
                font-size: 3vw;
            }
        }
    }


}