* {
    margin: 0;
    padding: 0;
}

:root {
    --font: "Montserrat", sans-serif;
    --szin: #A7697E;
    --szurke: #626262;
}

body {
    background: white; 
    font-family: var(--font);

    & a {
        text-decoration: none;
        color: black;
    }
}

.solidGomb,
.atlatszoGomb {
    color: var(--szin);
    padding: 1vw 2vw;
    border-radius: 0.5vw;
    font-size: 1.125vw;
    font-family: var(--font);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.solidGomb {
    background: var(--szin);
    border: 3px solid var(--szin);
    color: white;
    transition: background-color 0.3s ease;

    &:hover {
        background: transparent;
        color: var(--szin);
    }
}

.atlatszoGomb {
    background: transparent;
    border: 3px solid var(--szin);

    &:hover {
        background-color: var(--szin);
        color: white;
    }
}

.mobilNav {
    display: none;
}

header {
    display: flex;
    align-items: center;

    position: relative;
    overflow: hidden;

    & img {
        width: 18vw;
        margin-left: 2vw;
        margin-top: 2.5vh;

        align-self: flex-start;
    }

    & .mobil {
        display: none;
    }

    & .desktopNav {
        display: flex;
        justify-content: center;
        
        transform: translateX(15%);
        & ul {
            list-style: none;
            display: flex;
            gap: 2vw;
            font-size: 1.125vw;
            font-weight: 600;

            & .fa-solid {
                font-size: 1.2vw;
                color: var(--szurke);
            }

            & a {
                color: var(--szurke);
                transition: color 0.3s ease;

                &:hover {
                    color: var(--szin);
                }
            }

            & li:nth-child(1) a {
                color: var(--szin);
                position: relative;
            }

            /* kis kor alatta */
            & li:nth-child(1) a::before {
                border-radius: 100%;
                position: absolute;
                background: var(--szin);
                height: 0.5vw;
                width: 0.5vw;
                content: '';
                top: 120%;
                left: 50%;
            }

            /* dropdown */
            & li:nth-child(2), li:nth-child(3) {
                position: relative;
            }

            & li:nth-child(2):hover div, li:nth-child(3):hover div {
                display: flex;
            }

            & li:nth-child(2) div, li:nth-child(3) div {
                display: none;
                position: absolute;
                width: 12.5vw;
                height: 6vh;
                background-color: #fff; 
                border: 2px solid var(--szin);
                border-radius: 0.25vw;

                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;

                & .csik {
                    width: 80%;
                    height: 1px;
                    border-radius: 2px;
                    background: var(--szurke);
                }

                & a {
                    font-size: 0.8vw;
                }
            }
        }
    }

    /* jobb fenti kor */
    &::before {
        content: '';
        position: absolute;
        width: 9vw;
        height: 9vw;
        border-radius: 100%;
        background: var(--szin);
        top: -4.5vw;
        right: -4.5vw;
    }
}

main {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;

    .kezdolap {
        display: flex;
        align-items: stretch;
        width: 80%;
        margin: 0 auto;
        margin-top: 5vh;
        margin-bottom: 5vh;

        & div {
            width: 80%;
            margin-right: 10%;
            
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            & h1 {
                font-size: 4vw;
                font-weight: 600;
                color: var(--szin);
            }

            & i {
                font-size: 1.5vw;
                font-weight: 600;
                color: var(--szurke);
            }

            & p {
                font-size: 1.125vw;
                color: var(--szurke);
            }
            
            /* ez a gomboknak */
            & section {
                flex-direction: row;
                display: flex;
                gap: 2vw;

                & button {
                    width: 50%;
                    font-weight: 500;
                }

                & button:nth-child(1) {
                    box-shadow: 0px 15px 25px -20px rgba(0,0,0,1);
                }
            }
        }

        & img {
            width: 35vw;
            height: 70vh;
            object-fit: cover;

            border-radius: 0.75vw;
            box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.25);

        }

        &::before {
            content: '';
            position: absolute;
            width: 9vw;
            height: 9vw;
            border-radius: 100%;
            background: var(--szin);
            bottom: -4.5vw;
            left: -4.5vw;
        }
    }
    
    .szalonrolWrapper {
        position: relative;

        & .mobilKepek {
            display: none;
        }
    }

    .szalonrol {
        display: flex;
        flex-direction: column;
        background: white;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 12.5vh;

        & h2 {
            width: 100%;
            font-size: 3.5vw;
            color: var(--szin);
            font-weight: 600;
            text-align: center;
            margin-top: 12.5vh;
            margin-bottom: 12.5vh;
        }

        & .wrapper {
            display: flex;
            justify-content: space-between;

            .szalonKepek {  
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(3, 1fr);
                gap: 2vw;
                grid-auto-flow: row;
                grid-template-areas:
                  "fent fent fent"
                  "fent fent fent"
                  "lent1 lent2 lent3";
                width: 50%;

                .lent1, .lent2, .lent3 {
                    aspect-ratio: 1/1;
                }

                & img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 0.75vw;
                }
            }
              
            .fent { grid-area: fent; }
              
            .lent1 { grid-area: lent1; }
              
            .lent2 { grid-area: lent2; }
              
            .lent3 { grid-area: lent3; }

            & .szoveg { 
                width: 40%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                & h1 {
                    font-size: 2.5vw;
                    color: var(--szurke);
                    font-weight: 600;
                    margin-bottom: 2.5vh;
                    margin-top: 0;
                    text-align: left;
                }

                .csik {
                    width: 100%;
                    height: 2px;
                    border-radius: 2px;
                    background: var(--szin);
                    margin-bottom: 2.5vh;
                }

                & span {
                    font-size: 1.125vw;
                    color: var(--szurke);
                    margin-bottom: 2.5vh;
                }

                & button {
                    font-weight: 500;
                }
            }

        }
        
        &::before {
            margin-left: auto;
            content: '';
            position: absolute;
            width: 9vw;
            height: 9vw;
            border-radius: 100%;
            background: var(--szin);
            bottom: -4.5vw;
            right: -4.5vw;
        }
    }
    
    .galeria   {
        & .mobilGaleriaKepek {
            display: none;
        }

        .galeriaKepek {  
                display: grid;
                grid-template-columns: 0.5fr 0.5fr 0.5fr;
                grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
                grid-auto-flow: row;
                gap: 1vw;
                grid-template-areas:
                    "osz11 osz21 osz31"
                    "osz12 osz21 osz32"
                    "osz12 osz22 osz33"
                    "osz12 osz3 osz33";
                width: 65%;
                margin: 0 auto;
                margin-bottom: 15vh;
            }

            .osz11 { grid-area: osz11; }
            
            .osz12 { grid-area: osz12; }
            
            .osz21 { grid-area: osz21; }
            
            .osz22 { grid-area: osz22; }
            
            .osz3 { grid-area: osz3; }
            
            .osz31 { grid-area: osz31; }
            
            .osz32 { grid-area: osz32; }
            
            .osz33 { grid-area: osz33; }
        
            & h2 {
                width: 100%;
                font-size: 3.5vw;
                color: var(--szin);
                font-weight: 600;
                text-align: center;
                margin-top: 12.5vh;
                margin-bottom: 12.5vh;
            }

            & img {
                width: 100%; 
                height: 100%;
                object-fit: cover;
                border-radius: 0.75vw;
            }

            &::before {
                content: '';
                position: absolute;
                width: 9vw;
                height: 9vw;
                border-radius: 100%;
                background: var(--szin);
                bottom: -4.5vw;
                left: -4.5vw;
            }
    }

    .kapcsolat {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        margin: 0 auto;

        & h3 {
            font-size: 3.5vw;
            color: var(--szin);
            font-weight: 600;
            text-align: center;
            margin-top: 12.5vh;
            margin-bottom: 2.5vh;
        }

        & span {
            font-size: 1.125vw;
            color: var(--szurke);
            margin-bottom: 10vh;
            text-align: center;
        }

        & .wrapper {
            display: flex;
            justify-content: space-evenly;
            width: 100%;
            margin-bottom: 10vh;
        }

        & form {
            display: flex;
            flex-direction: column;
            gap: 2.5vh;
            width: 40%;

            & label {
                font-size: 1.125vw;
                color: black;
            }

            & div {
                display: flex;
                flex-direction: column;
                gap: .5vh;
            }

            & input, textarea {
                padding: 1vw 2vw;
                border-radius: 0.5vw;
                border: 0;
                font-size: 1.125vw;
                font-family: var(--font);

                color: var(--szurke);
                background-color: rgba(167, 105, 126, 0.15);
            }

            & button {
                width: 33%;
                align-self: center;
            }
        }

        & iframe {
            width: 50%;
            border: 3px solid var(--szin);
            border-radius: 0.75vw;
            box-shadow: 0 8px 10px 5px rgba(0, 0, 0, 0.25);
        }
    }
    
    .footer {
        width: 100%;
        background-color: var(--szin);
        color: white;

        & .wrapper {
            margin: 1vw;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            & img {
                width: 20vw;
            }

            & .elerhetosegek, .ajanlott, .social {
                display: flex;
                flex-direction: column;
                gap: 1vh;
                align-self: flex-start;
                padding-top: 2vh;

                & a {
                    color: white;
                }

                & .csik {
                    width: 100%;
                    height: 1px;
                    border-radius: 2px;
                    background: white;
                }

                & h4 {
                    font-size: 1vw;
                    font-weight: 500;
                    margin-bottom: 1vh;
                }

                & i {
                    font-size: 2vw;
                }

                & .logok {
                    display: flex;
                    gap: 1vw;
                }
            }
        }

        & .szoveg {
            text-align: center;
            padding: 0.25vw;
            font-size: 1vw;
            margin-top: 2.5vh;
            margin-bottom: 2vh;

            & a {
                color: white;
                font-weight: 500;
            }
        }
    }
}

.backgroundWrapper {
    position: relative;
}

.backgroundWrapper::before {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), url(background.jpg) no-repeat center center;
    mix-blend-mode: luminosity;

    top: 0;
    left: 0;
}

@media (max-width: 768px) {
    .solidGomb, .atlatszoGomb {
        font-size: 3.5vw;
        border-radius: 2vw;
        padding: 2.25vw 4vw;
    }

    .mobilNav {
        display: flex;
        
        & .sidebarBack {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            z-index: 999;
            display: none;
            align-items: center;
            justify-content: left;
            
            & i {
                padding-left: 5%;
                font-size: 10vw;
                color: white;
                cursor: pointer;
            }
        }

        & .sidebar {
            position: fixed;
            top: 0;
            right: 0;
            width: 70vw;
            height: 100%;
            background: white;
            z-index: 1000;
            display: flex;
            flex-direction: column;
            gap: 5vh;
            padding: 5vw;
            transform: translateX(200%);
            transition: transform 0.5s ease;
            border-top-left-radius: 5vw;

            & nav {
                display: flex;
                flex-direction: column;
                gap: 5vh;
                height: 90%;

                & ul {
                    height: inherit;
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    gap: 5vh;
                    color: black;
                    font-weight: 600;
                    justify-content: space-evenly;
                    font-size: 4vw;

                    & .csik {
                        margin-top: 0.5vh;
                        width: 80%;
                        height: 1px;
                        border-radius: 2px;
                        background: var(--szurke);
                    }

                    .tudnivalokDiv, .tetovalasokDiv {
                        display: none;
                        flex-direction: column;
                        gap: 2vh;
                        margin-top: 2vh;
                        padding: 2vh 2vw;
                        border: 2px solid var(--szin);
                        border-radius: 2vw;
                    }
                    
                }
            
            }
        }
    }

    header {
        justify-content: space-between;

        & .mobil {
            display: flex;
            margin-right: 10vw;
            color: var(--szin);
            font-size: 5vw;
            z-index: 1;
        }

        & img {
            width: 35vw;
            margin-left: 8vw;
        }

        & .desktopNav {
            display: none;
        }

        &::before {
            display: none;
        }
    }

    main {
        .kezdolap {
            flex-direction: column;
            align-items: center;

            & div {
                width: 100%;
                margin-right: 0;
                text-align: center;

                & h1 {
                    font-size: 8vw;
                    width: 100%;
                }

                & i {
                    font-size: 3vw;
                }

                & p {
                    margin-top: 2vh;
                    margin-bottom: 2vh;
                    font-size: 3vw;
                    align-self: center;
                }

                & section {
                    flex-direction: column;
                    gap: 2vh;

                    & button {
                        width: 80%;
                        align-self: center
                    }
                }
            }

            & img {
                width: 80vw;
                height: 50vh;
                margin-top: 5vh;
                border-radius: 3vw;
            }

            &::before {
                height: 20vw;
                width: 20vw;
                bottom: -10vw;
                left: -10vw;
            }
        }

        .szalonrolWrapper {
            & .mobilKepek {
                display: flex;
                gap: 2.5vw;
                overflow-x: auto;
                scrollbar-width: none;
                white-space: nowrap;
                width: 100%;
                margin-bottom: 7.5vh;
                padding-bottom: 1.75vh;

                & img {
                    height: 50vw;
                    border-radius: 3vw;
                    object-fit: cover;
                }
            }
        }

        .szalonrol {
            margin-bottom: 5vh;

            & h2 {
                margin-top: 5vh;
                margin-bottom: 5vh;
                font-size: 7vw;
                width: 50%;
                align-self: center;
            }

            & .wrapper {
                flex-direction: column;
                width: 100%;

                .szalonKepek {
                    display: none;
                }

                & .szoveg {
                    width: 80%;
                    align-self: center;
                    text-align: center;
                    margin: 0 auto;

                    & h1 {
                        font-size: 5.5vw;
                        text-align: center;

                        align-self: center;
                    }

                    & .span2 {
                        display: none;
                    }

                    .csik {
                        margin-bottom: 2vh;
                    }

                    & span {
                        font-size: 3.5vw;
                    }

                    & button {
                        font-size: 4vw;
                        align-self: center;
                        width: 70%;
                    }
                }     
            }

            &::before {
                width: 20vw;
                height: 20vw;
                bottom: -10vw;
                right: -10vw;
            }
        }

        .backgroundWrapper {
            position: relative;
        }

        .galeria {
            & .galeriaKepek {
                display: none;
            }

            & .mobilGaleriaKepek {
                display: flex;
                flex-direction: column;
                gap: 2.5vw;
                width: 80%;
                margin: 0 auto;
                margin-bottom: 5vh;

                & img {
                    height: 50vw;
                    border-radius: 3vw;
                    object-fit: cover;
                }
            }

            & h2 {
                font-size: 7vw;
                margin-top: 5vh;
                margin-bottom: 5vh;
            }
            

            &::before {
                width: 20vw;
                height: 20vw;
                bottom: -10vw;
                left: -10vw;
            }
        }

        .kapcsolat {
            & h3 {
                font-size: 7vw;
                margin-top: 5vh;
                margin-bottom: 2.5vh;
            }

            & span {
                font-size: 3.5vw;
                margin-bottom: 5vh;
            }

            & .wrapper {
                flex-direction: column;
                gap: 5vh;
                width: 100%;
                margin-bottom: 5vh;
            }

            & form {
                width: 100%;
                align-self: center;

                & label {
                    font-size: 3.5vw;
                }

                & input, textarea {
                    padding: 3vw 6vw;
                    font-size: 3.5vw;
                    border-radius: 1.5vw;
                }

                & button {
                    width: 50%;
                    align-self: center;
                }
            }

            & iframe {
                width: 95%;
                height: 65vh;
                margin: 0 auto;
                margin-bottom: 2.5vh;
            }
        }

        .footer {
            & .wrapper {
                flex-direction: column;
                gap: 2.5vh;
                align-items: center;
                margin-bottom: 2.5vh;

                & .logo {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    margin-top: 2.5vh;

                    & img {
                        width: 85%;
                    }
                }

                & .elerhetosegek, .ajanlott, .social {
                    align-self: center;
                    padding-top: 5vh;
                    text-align: center;

                    & h4 {
                        font-size: 3.5vw;
                        margin-bottom: 2.5vh;
                    }

                    & i {
                        font-size: 7vw;
                    }

                    & .logok {
                        gap: 5vw;
                        align-self: center;
                    }
                }
            }

            & .szoveg {
                font-size: 3vw;
            }
        }
    }
}